{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"],
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": false,
  "useTabs": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always",
        "printWidth": 80
      }
    }
  ]
}
